In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:\\Users\\RajmaneD\\OneDrive - Kantar\\DR\\MM_v2_fastapi\\KANTAR_MM_dummy_data.xlsx",sheet_name="Sheet2")

In [3]:
df.head()

,unique_serial_number,Age,Gender,NCCS,Detailed_NCCS,Townclass,State,City,Occupation,Education,...,Colour_TV,Refrigerator,Washing_Machine,Personal_Computer_Laptop,Car_Jeep_Van,Air_Conditioner,Year,pincode,latitude,longitude
0,10000209.0,3,1,2,3,1,Maharashtra,Mumbai,3,8,...,1,1,0,1,0,1,2024,400008,18.963572,72.823472
1,10000211.0,4,2,2,2,1,Maharashtra,Mumbai,3,9,...,1,1,1,1,0,1,2024,400008,18.963572,72.823472
2,10000214.0,3,2,2,2,1,Maharashtra,Mumbai,8,6,...,1,1,1,1,0,1,2024,400083,19.103900,72.910050
3,10000221.0,1,1,4,6,1,Maharashtra,Mumbai,1,3,...,1,1,0,0,0,0,2024,400012,19.000800,72.830850
4,10000222.0,6,1,5,8,1,Maharashtra,Mumbai,8,5,...,0,0,0,0,0,0,2024,400083,19.103900,72.910050

In [4]:
df.shape

(153, 37)

In [5]:
df.City.value_counts()

City
Mumbai       99
Bangalore    20
Pune         17
Chennai      17
Name: count, dtype: int64

In [6]:
markets={}
for _, row in df.iterrows():
    state = row['State']
    city = row['City']
    pincode = row['pincode']
    if state not in markets:
        markets[state] = {}
    if city not in markets[state]:
        markets[state][city] = []
    if pincode not in markets[state][city]:
        markets[state][city].append(pincode)

In [7]:
markets

{'Maharashtra': {'Mumbai': [400008,
   400083,
   400012,
   400077,
   400010,
   400080,
   400070,
   400086,
   400055,
   400097,
   400005,
   400013,
   400067,
   400037,
   400078],
  'Pune': [411002,
   411007,
   411045,
   411021,
   411038,
   411028,
   411014,
   411005,
   411001]},
 'Karnataka': {'Bangalore': [560001,
   560038,
   560034,
   560066,
   560041,
   560010,
   560003,
   560076,
   560064,
   560024]},
 'Tamil Nadu': {'Chennai': [600017,
   600020,
   600040,
   600042,
   600045,
   600004,
   600024,
   600032,
   600008,
   600014]}}

In [8]:
features=['Online_Shopping', 'Linear_Television', 'Smart_Television',
       'Internet_Users', 'Smart_Phone_Users', 'Social_Media_Users',
       'Digital_Payment', 'Credit_Card', 'Netbanking', 'Insurance',
       'Stocks_Shares', 'Mutual_Funds', 'Loan', 'Electricity_Connection',
       'Ceiling_Fan', 'LPG_Stove', 'Two_wheeler', 'Colour_TV', 'Refrigerator',
       'Washing_Machine', 'Personal_Computer_Laptop', 'Car_Jeep_Van',
       'Air_Conditioner']

In [9]:
base={}
state_base={}
city_base={}
pan_india_base={}
counts=df[features].sum().to_dict()
pan_india_base={k: round((v/df.shape[0])*100) for k, v in counts.items()}
for state in list(df.State.unique()):
    tdf_state = df[(df['State']==state)]
    counts_state=tdf_state[features].sum().to_dict()
    perc_counts_state={k: round((v/tdf_state.shape[0])*100) for k, v in counts_state.items()}     
    state_base[state]=perc_counts_state
    city_base[state] = {}
    for city in list(tdf_state.City.unique()):         
        tdf_city = tdf_state[tdf_state['City']==city]
        counts_city=tdf_city[features].sum().to_dict()
        perc_counts_city={k: int((v/tdf_city.shape[0])*100) for k, v in counts_city.items()}         
        city_base[state][city]=perc_counts_city
base['pan_india']=pan_india_base
base['state']=state_base
base['city']=city_base

In [21]:
base

{'pan_india': {'Online_Shopping': 52,
  'Linear_Television': 96,
  'Smart_Television': 33,
  'Internet_Users': 89,
  'Smart_Phone_Users': 76,
  'Social_Media_Users': 79,
  'Digital_Payment': 58,
  'Credit_Card': 11,
  'Netbanking': 10,
  'Insurance': 34,
  'Stocks_Shares': 3,
  'Mutual_Funds': 7,
  'Loan': 2,
  'Electricity_Connection': 100,
  'Ceiling_Fan': 100,
  'LPG_Stove': 100,
  'Two_wheeler': 40,
  'Colour_TV': 97,
  'Refrigerator': 95,
  'Washing_Machine': 67,
  'Personal_Computer_Laptop': 29,
  'Car_Jeep_Van': 5,
  'Air_Conditioner': 27},
 'state': {'Maharashtra': {'Online_Shopping': 48,
   'Linear_Television': 95,
   'Smart_Television': 33,
   'Internet_Users': 90,
   'Smart_Phone_Users': 78,
   'Social_Media_Users': 78,
   'Digital_Payment': 55,
   'Credit_Card': 8,
   'Netbanking': 6,
   'Insurance': 30,
   'Stocks_Shares': 0,
   'Mutual_Funds': 5,
   'Loan': 3,
   'Electricity_Connection': 100,
   'Ceiling_Fan': 100,
   'LPG_Stove': 100,
   'Two_wheeler': 32,
   'Colour_TV': 97,
   'Refrigerator': 93,
   'Washing_Machine': 65,
   'Personal_Computer_Laptop': 29,
   'Car_Jeep_Van': 6,
   'Air_Conditioner': 24},
  'Karnataka': {'Online_Shopping': 65,
   'Linear_Television': 100,
   'Smart_Television': 35,
   'Internet_Users': 85,
   'Smart_Phone_Users': 70,
   'Social_Media_Users': 80,
   'Digital_Payment': 65,
   'Credit_Card': 20,
   'Netbanking': 20,
   'Insurance': 45,
   'Stocks_Shares': 10,
   'Mutual_Funds': 10,
   'Loan': 0,
   'Electricity_Connection': 100,
   'Ceiling_Fan': 100,
   'LPG_Stove': 100,
   'Two_wheeler': 65,
   'Colour_TV': 100,
   'Refrigerator': 100,
   'Washing_Machine': 75,
   'Personal_Computer_Laptop': 30,
   'Car_Jeep_Van': 0,
   'Air_Conditioner': 40},
  'Tamil Nadu': {'Online_Shopping': 65,
   'Linear_Television': 100,
   'Smart_Television': 35,
   'Internet_Users': 88,
   'Smart_Phone_Users': 71,
   'Social_Media_Users': 82,
   'Digital_Payment': 65,
   'Credit_Card': 24,
   'Netbanking': 24,
   'Insurance': 47,
   'Stocks_Shares': 12,
   'Mutual_Funds': 12,
   'Loan': 0,
   'Electricity_Connection': 100,
   'Ceiling_Fan': 100,
   'LPG_Stove': 100,
   'Two_wheeler': 65,
   'Colour_TV': 100,
   'Refrigerator': 100,
   'Washing_Machine': 71,
   'Personal_Computer_Laptop': 29,
   'Car_Jeep_Van': 0,
   'Air_Conditioner': 35}},
 'city': {'Maharashtra': {'Mumbai': {'Online_Shopping': 44,
    'Linear_Television': 93,
    'Smart_Television': 31,
    'Internet_Users': 88,
    'Smart_Phone_Users': 77,
    'Social_Media_Users': 75,
    'Digital_Payment': 50,
    'Credit_Card': 7,
    'Netbanking': 7,
    'Insurance': 32,
    'Stocks_Shares': 0,
    'Mutual_Funds': 6,
    'Loan': 1,
    'Electricity_Connection': 100,
    'Ceiling_Fan': 100,
    'LPG_Stove': 100,
    'Two_wheeler': 31,
    'Colour_TV': 95,
    'Refrigerator': 91,
    'Washing_Machine': 58,
    'Personal_Computer_Laptop': 25,
    'Car_Jeep_Van': 5,
    'Air_Conditioner': 22},
   'Pune': {'Online_Shopping': 70,
    'Linear_Television': 100,
    'Smart_Television': 41,
    'Internet_Users': 94,
    'Smart_Phone_Users': 82,
    'Social_Media_Users': 94,
    'Digital_Payment': 82,
    'Credit_Card': 11,
    'Netbanking': 0,
    'Insurance': 17,
    'Stocks_Shares': 0,
    'Mutual_Funds': 0,
    'Loan': 11,
    'Electricity_Connection': 100,
    'Ceiling_Fan': 100,
    'LPG_Stove': 100,
    'Two_wheeler': 35,
    'Colour_TV': 100,
    'Refrigerator': 100,
    'Washing_Machine': 100,
    'Personal_Computer_Laptop': 52,
    'Car_Jeep_Van': 11,
    'Air_Conditioner': 35}},
  'Karnataka': {'Bangalore': {'Online_Shopping': 65,
    'Linear_Television': 100,
    'Smart_Television': 35,
    'Internet_Users': 85,
    'Smart_Phone_Users': 70,
    'Social_Media_Users': 80,
    'Digital_Payment': 65,
    'Credit_Card': 20,
    'Netbanking': 20,
    'Insurance': 45,
    'Stocks_Shares': 10,
    'Mutual_Funds': 10,
    'Loan': 0,
    'Electricity_Connection': 100,
    'Ceiling_Fan': 100,
    'LPG_Stove': 100,
    'Two_wheeler': 65,
    'Colour_TV': 100,
    'Refrigerator': 100,
    'Washing_Machine': 75,
    'Personal_Computer_Laptop': 30,
    'Car_Jeep_Van': 0,
    'Air_Conditioner': 40}},
  'Tamil Nadu': {'Chennai': {'Online_Shopping': 64,
    'Linear_Television': 100,
    'Smart_Television': 35,
    'Internet_Users': 88,
    'Smart_Phone_Users': 70,
    'Social_Media_Users': 82,
    'Digital_Payment': 64,
    'Credit_Card': 23,
    'Netbanking': 23,
    'Insurance': 47,
    'Stocks_Shares': 11,
    'Mutual_Funds': 11,
    'Loan': 0,
    'Electricity_Connection': 100,
    'Ceiling_Fan': 100,
    'LPG_Stove': 100,
    'Two_wheeler': 64,
    'Colour_TV': 100,
    'Refrigerator': 100,
    'Washing_Machine': 70,
    'Personal_Computer_Laptop': 29,
    'Car_Jeep_Van': 0,
    'Air_Conditioner': 35}}}}

In [11]:
selected_states=['Maharashtra']
selected_cities=['Pune','Mumbai']
selected_pincodes=[411002,
   411007,
   411045,
   411021,
   411038,
   411028,
   411014,
   411005,
   400008,
   400083,
   400012,
   400077,
   400010,
   400080,
   400070,
   400086,
   400055,
   400097,
   400005,
   400013]

In [12]:
grouped_selection_mkt = {}
for state, cities in markets.items():
    for city, pincodes in cities.items():
        selected_city = city in selected_cities
        selected_city_pincodes = [p for p in pincodes if p in selected_pincodes]
        if selected_city or selected_city_pincodes:
            grouped_selection_mkt.setdefault(state, {})[city] = {
                "selected": selected_city,
                "pincodes": selected_city_pincodes
            }
print(grouped_selection_mkt)

{'Maharashtra': {'Mumbai': {'selected': True, 'pincodes': [400008, 400083, 400012, 400077, 400010, 400080, 400070, 400086, 400055, 400097, 400005, 400013]}, 'Pune': {'selected': True, 'pincodes': [411002, 411007, 411045, 411021, 411038, 411028, 411014, 411005]}}}

In [13]:
selected_features=['Online_Shopping', 'Linear_Television', 'Smart_Television']

In [14]:
df_pincodes = df[(df['State'].isin(selected_states)) & (df['City'].isin(selected_cities)) & (df['pincode'].isin(selected_pincodes))]
count_selected_pincode=df_pincodes[selected_features].sum().to_dict()
perc_selected_pincodes={k: round((v/df_pincodes.shape[0])*100) for k, v in count_selected_pincode.items()}

In [15]:
perc_selected_pincodes

{'Online_Shopping': 47, 'Linear_Television': 94, 'Smart_Television': 33}

In [16]:
base['state'][selected_states[0]]['Online_Shopping']

48

In [26]:
((47/70)*100)-100

-32.85714285714286

In [17]:
ps={}
ps_pan_india={}
ps_state={}
ps_city={}
for feature in selected_features:
    ps_pan_india[feature]=(perc_selected_pincodes[feature]/base['pan_india'][feature]*100)-100
    ps_state[feature]=(perc_selected_pincodes[feature]/base['state'][selected_states[0]][feature]*100)-100
    ps_city[feature]=(perc_selected_pincodes[feature]/base['city'][selected_states[0]][selected_cities[0]][feature]*100)-100
ps['pan_india']=ps_pan_india
ps['state']=ps_state
ps['city']=ps_city

In [18]:
ps

{'pan_india': {'Online_Shopping': -9.615384615384613,
  'Linear_Television': -2.083333333333343,
  'Smart_Television': 0.0},
 'state': {'Online_Shopping': -2.083333333333343,
  'Linear_Television': -1.05263157894737,
  'Smart_Television': 0.0},
 'city': {'Online_Shopping': -32.85714285714286,
  'Linear_Television': -6.0,
  'Smart_Television': -19.51219512195121}}

In [19]:
# perc_selected_pincodes{'Online_Shopping': 71, 'Linear_Television': 100, 'Smart_Television': 41}
# selected_states=['Maharashtra']
# selected_cities=['Pune']
# selected_pincodes=[411002,
#    411007,
#    411045,
#    411021,
#    411038,
#    411028,
#    411014,
#    411005,
#    411001]
# ps-{'pan_india': {'Online_Shopping': 36.53846153846155,
#   'Linear_Television': 4.166666666666671,
#   'Smart_Television': 24.24242424242425},
#  'state': {'Online_Shopping': 47.916666666666686,
#   'Linear_Television': 5.263157894736835,
#   'Smart_Television': 24.24242424242425},
#  'city': {'Online_Shopping': 1.4285714285714164,
#   'Linear_Television': 0.0,
#   'Smart_Television': 0.0}}

In [20]:
# df_pincodes = df[(df['State'].isin(selected_states)) & (df['City'].isin(selected_cities)) & (df['pincode'].isin(selected_pincodes))]
# # df_pincodes.to_excel('pincodes.xlsx',index=False)
# count_selected_pincode=df_pincodes[features].sum().to_dict()
# perc_selected_pincodes={k: (v/df_pincodes.shape[0])*100 for k, v in count_selected_pincode.items()}
# df_all_pincodes = df[(df['State'].isin(selected_states)) & (df['City'].isin(selected_cities))]
# # df_city.to_excel('city.xlsx',index=False)
# count_all_pincodes = df_all_pincodes[features].sum().to_dict()
# perc_all_pincodes={k: (v/df_all_pincodes.shape[0])*100 for k, v in count_all_pincodes.items()}
# df_city=df[(df['State'].isin(selected_states))]
# # df_state.to_excel('state.xlsx',index=False)
# count_city = df_city[features].sum().to_dict()
# perc_city={k: (v/df_city.shape[0])*100 for k, v in count_city.items()}

# count_all=df[features].sum().to_dict()
# perc_all={k: (v/df.shape[0])*100 for k, v in count_all.items()}

In [ ]:
"VBH_company_base","VBJ_Company_Type","VBN_Number_of_Employees","VBP1_type_project_Single_family_residential",
"VBP2_type_project_Multi_family_residential","VBP3_type_project_Hospitality","VBP4_type_project_Healthcare",
"VBP5_type_project_Educational_facilities","VBP6_type_project_Transportation","VBP7_type_project_Entertainment_Recreation",
"VBP8_type_project_Retail_Spaces","VBP9_type_project_Office_buildings","VBQ_Geographical_regions","VBR_Total_years_experience",
"VBV1_Hot_cold_potable_water_systems","VBV2_Radiant_Heating_Cooling_Systems"